html {
        background-color: #fff;
        font-weight: 300;
        height: 100vh;
        margin: 0;
}

body {
        background-color: #fff;
        font-family: 'Times-Roman';
        height: 100vh;
        margin: 0;
        padding-top: 65px;
}

.main-content {
        padding-top: 30px;
        padding-bottom: 65px;
}

.btn.btn-primary {
        color: #fff;
        font-weight: 300;
        margin: 20px 10px 0 0;
}

p {
}

td {
        font-family: 'Times-Roman';
}

.table-bordered {
        height: 150px;
}

th {
        font-weight: normal;
        width: 50%;
        height: 45%;
}
.underlined {
        text-decoration: underline;
}

input {
        color: #4E2D3E;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: .1rem;

}

h4 {
        margin: 20px 0 20px 0;
}
.weeklist {
        color: #4E2D3E;
        font-weight: 700;
        height: 5vh;
        margin: 0;
}

.weekindex {
}

.full-height {
        height: 100vh;
}

.flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
}

.position-ref {
        position: relative;
}

.top-right {
        position: absolute;
        right: 10px;
        top: 18px;
}

.title {
        font-size: 84px;
}

.links > a {
        color: #4E2D3E;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
}

.m-b-md {
        margin-bottom: 30px;
}

.textarea {
}

label {
        margin: 15px 5px 15px 0;
        display: inline-block;
        max-width: 100%;
        color: #4E2D3E;
        font-size: 16px;
        font-weight: 200;
        letter-spacing: .1rem;
}

#start_date {
        margin-right: 25px;
}

.datepicker {
        position: relative;
}

.metadata-row {
        border: none;
        margin-bottom: 20px;
}

.metadata {
        width: 280px;
        height: 30px;
}
